adf-resources/pipeline/Module 11 Email notification.json
{
	"name": "Module 11 Email notification",
	"properties": {
		"activities": [
			{
				"name": "get_HTTP_POST_URL",
				"description": "Use the URI Secret Identifier to access the secret from the KeyValue. This secret contains the HTTP_POST_URL of the Logic App to send the respective email.",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "TruncateTables",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@pipeline().globalParameters.URI_Secret_Identifier",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set_variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get_HTTP_POST_URL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "POST_URL_VARIABLE",
					"value": {
						"value": "@activity('get_HTTP_POST_URL').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SendEmail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set_variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@variables('POST_URL_VARIABLE')",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "{\n    \"message\" : \"The pipeline with run ID '@{pipeline().RunId}'' has '@{activity('TruncateTables').Status}', Failure Type: '@{activity('TruncateTables').Error.failureType}'' at '@{formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:ss')}'' with the following error message: '@{activity('TruncateTables').Error.message}' Error Code: '@{activity('TruncateTables').Error.errorCode}' \",\n    \"dataFactoryName\" : \"@{pipeline().DataFactory}\", \n    \"pipelineName\" : \"@{pipeline().Pipeline}\", \n    \"receiver\" : \"@{pipeline().globalParameters.receiver}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "TruncateTables",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "LS_ASQL_movies",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "DELETE TABLE stg.credits12345678;\n"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Set_variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set_variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "error",
					"value": {
						"value": "@string(activity('TruncateTables'))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"POST_URL_VARIABLE": {
				"type": "String"
			},
			"error": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-08-25T16:32:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}