adf-resources/pipeline/Module 7 Incremental copy files.json
{
	"name": "Module 7 Incremental copy files",
	"properties": {
		"activities": [
			{
				"name": "Copy files incrementally",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupWaterMarkActivity_online",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@activity('LookupWaterMarkActivity_online').output.firstRow.WatermarkValue",
								"type": "Expression"
							},
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_SOURCE_azuremoentoringstorage_online",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SINK_azurementoringdatalakeso_online",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LookupWaterMarkActivity_online",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "  SELECT distinct [TableName],[WatermarkValue], CONVERT(DATETIME,GETUTCDATE()) AS NewWatermarkvalue\n  FROM [dbo].[watermarktable]\n  WHERE [TableName] = 'online_source'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQL_movies_watermarktable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "StoredProceduretoWriteWatermarkActivity",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy files incrementally",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_watermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@activity('LookupWaterMarkActivity_online').output.firstRow.NewWatermarkvalue",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": {
								"value": "@{activity('LookupWaterMarkActivity_online').output.firstRow.TableName}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_movies",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-08-02T23:22:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}