adf-resources/pipeline/Module 2 Copy activity in pipeline using file extension.json
{
	"name": "Module 2 Copy activity in pipeline using file extension",
	"properties": {
		"activities": [
			{
				"name": "Execution Time",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ExecutionTime",
					"value": {
						"value": "@formatDateTime(utcNow(),'yyyyMMddHHmmss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ACT_MT_Copy_movies_to_data_lake",
				"description": "copy activity to copy CSV source files from Azure Blob Storage to Azure Data Lake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Execution Time",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": {
								"value": "@concat('_',variables('ExecutionTime'),'.csv')",
								"type": "Expression"
							}
						}
					},
					"enableStaging": false,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Info",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "LS_ABLB_azurementoringdatalakeso",
								"type": "LinkedServiceReference"
							},
							"path": "log"
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SOURCE_azurementoringstorageso",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SINK_azurementoringdatalakesov2",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"ExecutionTime": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-08-15T19:39:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}